@import "../../bulma/bulma/utilities/utilities";
@import "../../bulma/bulma/config/variables";
@import "../../bulma/bulma/config/generated-variables";
@import "../../bulma/bulma/base/base";
@import "../../bulma/bulma/elements/elements";
@import "../../bulma/bulma/components/components";
@import "../../bulma/bulma/layout/layout";


@font-face {
  font-family: 'Sofia Pro';
  src: url('fonts/sofiapro/sofiapro-bold-webfont.eot');
  src: url('fonts/sofiapro/sofiapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/sofiapro/sofiapro-bold-webfont.woff2') format('woff2'),
  url('fonts/sofiapro/sofiapro-bold-webfont.woff') format('woff'),
  url('fonts/sofiapro/sofiapro-bold-webfont.ttf') format('truetype'),
  url('fonts/sofiapro/sofiapro-bold-webfont.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Sofia Pro';
  src: url('fonts/sofiapro/sofiapro-bold-italic-webfont.eot');
  src: url('fonts/sofiapro/sofiapro-bold-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/sofiapro/sofiapro-bold-italic-webfont.woff2') format('woff2'),
  url('fonts/sofiapro/sofiapro-bold-italic-webfont.woff') format('woff'),
  url('fonts/sofiapro/sofiapro-bold-italic-webfont.ttf') format('truetype'),
  url('fonts/sofiapro/sofiapro-bold-italic-webfont.svg') format('svg');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro';
  src: url('fonts/sofiapro/sofiapro-semibold-webfont.eot');
  src: url('fonts/sofiapro/sofiapro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/sofiapro/sofiapro-semibold-webfont.woff2') format('woff2'),
  url('fonts/sofiapro/sofiapro-semibold-webfont.woff') format('woff'),
  url('fonts/sofiapro/sofiapro-semibold-webfont.ttf') format('truetype'),
  url('fonts/sofiapro/sofiapro-semibold-webfont.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Sofia Pro';
  src: url('fonts/sofiapro/sofiapro-semibold-italic-webfont.eot');
  src: url('fonts/sofiapro/sofiapro-semibold-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/sofiapro/sofiapro-semibold-italic-webfont.woff2') format('woff2'),
  url('fonts/sofiapro/sofiapro-semibold-italic-webfont.woff') format('woff'),
  url('fonts/sofiapro/sofiapro-semibold-italic-webfont.ttf') format('truetype'),
  url('fonts/sofiapro/sofiapro-semibold-italic-webfont.svg') format('svg');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro';
  src: url('fonts/sofiapro/sofiapro-medium-webfont.eot');
  src: url('fonts/sofiapro/sofiapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/sofiapro/sofiapro-medium-webfont.woff2') format('woff2'),
  url('fonts/sofiapro/sofiapro-medium-webfont.woff') format('woff'),
  url('fonts/sofiapro/sofiapro-medium-webfont.ttf') format('truetype'),
  url('fonts/sofiapro/sofiapro-medium-webfont.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('fonts/sofiapro/sofiapro-medium-italic-webfont.eot');
  src: url('fonts/sofiapro/sofiapro-medium-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/sofiapro/sofiapro-medium-italic-webfont.woff2') format('woff2'),
  url('fonts/sofiapro/sofiapro-medium-italic-webfont.woff') format('woff'),
  url('fonts/sofiapro/sofiapro-medium-italic-webfont.ttf') format('truetype'),
  url('fonts/sofiapro/sofiapro-medium-italic-webfont.svg') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('fonts/sofiapro/sofiapro-regular-webfont.eot');
  src: url('fonts/sofiapro/sofiapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/sofiapro/sofiapro-regular-webfont.woff2') format('woff2'),
  url('fonts/sofiapro/sofiapro-regular-webfont.woff') format('woff'),
  url('fonts/sofiapro/sofiapro-regular-webfont.ttf') format('truetype'),
  url('fonts/sofiapro/sofiapro-regular-webfont.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('fonts/sofiapro/sofiapro-regular-italic-webfont.eot');
  src: url('fonts/sofiapro/sofiapro-regular-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/sofiapro/sofiapro-regular-italic-webfont.woff2') format('woff2'),
  url('fonts/sofiapro/sofiapro-regular-italic-webfont.woff') format('woff'),
  url('fonts/sofiapro/sofiapro-regular-italic-webfont.ttf') format('truetype'),
  url('fonts/sofiapro/sofiapro-regular-italic-webfont.svg') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('fonts/sofiapro/sofiapro-light-webfont.eot');
  src: url('fonts/sofiapro/sofiapro-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/sofiapro/sofiapro-light-webfont.woff2') format('woff2'),
  url('fonts/sofiapro/sofiapro-light-webfont.woff') format('woff'),
  url('fonts/sofiapro/sofiapro-light-webfont.ttf') format('truetype'),
  url('fonts/sofiapro/sofiapro-light-webfont.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: CircularStd;
  src: url('fonts/CircularStd/CircularStd-Book.otf');
  font-weight: 300;
}

@font-face {
  font-family: CircularStd;
  src: url('fonts/CircularStd/CircularStd-Medium.otf');
  font-weight: 400;
}

@font-face {
  font-family: CircularStd;
  src: url('fonts/CircularStd/CircularStd-Bold.otf');
  font-weight: 600;
  font-weight: bold;
}

@font-face {
  font-family: CircularStd;
  src: url('fonts/CircularStd/CircularStd-Black.otf');
  font-weight: 700;
}
