// bower:scss
// endbower

@import "base";

$dark-color : #39434e;
$dark-color-opacity50 : rgba(57, 67, 78, 0.51);
$new-green : #3CC76A;
//58b737
html,body {
  padding: 0;
  background: #f5f5f5;
  //font-family: 'Sofia Pro';
  font-family: CircularStd;
  color: $dark-color;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

.is-new-green-text{
  color:$new-green;
}
.button.is-success{
  background:$new-green;
  //background: #54d17b;
  //background: -moz-linear-gradient(top, #54d17b 0%, #169b71 100%);
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #54d17b), color-stop(100%, #169b71));
  //background: -webkit-linear-gradient(top, #54d17b 0%, #169b71 100%);
  //background: -o-linear-gradient(top, #54d17b 0%, #169b71 100%);
  //background: -ms-linear-gradient(top, #54d17b 0%, #169b71 100%);
  //background: linear-gradient(to bottom, #54d17b 0%, #169b71 100%);
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54d17b', endColorstr='#169b71', GradientType=0 );
}

//Cinza
//background: white;
//background: -moz-linear-gradient(45deg, #ffffff 0%, #e0e0e0 89%, #c9c9c9 100%);
//background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #ffffff), color-stop(89%, #e0e0e0), color-stop(100%, #c9c9c9));
//background: -webkit-linear-gradient(45deg, #ffffff 0%, #e0e0e0 89%, #c9c9c9 100%);
//background: -o-linear-gradient(45deg, #ffffff 0%, #e0e0e0 89%, #c9c9c9 100%);
//background: -ms-linear-gradient(45deg, #ffffff 0%, #e0e0e0 89%, #c9c9c9 100%);
//background: linear-gradient(45deg, #ffffff 0%, #e0e0e0 89%, #c9c9c9 100%);
//.is-new-green-background{
//  background:$new-green;
//}

.is-bold{
  font-weight: 700!important;
}
.s36{
  font-size: 36px;
}
.font-size50{
  font-size: 50px;
}
.medium-grey{
  background-color: #F8F8F8;
}
.hero-footer-item{
  height: 130px;
}

.is-transparent{
  background-color: transparent;
}
.is-white{
  background-color: $white;
  color: $dark-color;
}

.hero-content-internal {
  padding: 30px 40px;
}

.s-btns{
  max-height: 160px;
}

.is-dark2{
  background-color: $dark-color;
  h1, h2{
    color: #fff;
  }
  //*{
  //  color: #fff;
  //}
}

.header-item img {
  max-height: 40px;
  -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header-item img:active {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
}
.header-item a.is-active{
  -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.header-item a.is-active:active{
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
}
.button{
-webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
.button:active{
  -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
}

.sH180{
  height: 180px;
}

.pT20{
  padding-top: 20px;
}
.pB30{
  padding-bottom: 30px;
}
.align-left{
  text-align: left;
}
.subtitle-middle{
  padding: 30px;
  line-height: 1.4;
  color: $dark-color-opacity50;
  text-transform: uppercase;
  font-size: 15px;
}

.is-white.sH180:hover {
  background-image: linear-gradient(141deg, #9BD07C 0%, #93C078 60%, #9BC682 100%);
  color: #fff;
  a{  color:#fff;  }
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(201,201,201,.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow;
}
.box-internal:hover{
  box-shadow: 0 2px 4px rgba(201,201,201,.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}


.title-hero{
  font-size: 42px;
  line-height: 1.09;
  margin-bottom: 30px!important;
  color: $dark-color!important;
  span{
    color: $new-green;
    text-shadow: 0 1px 2px hsla(211, 16%, 26%, 0.5);
  }
}
.subtitle-hero{
  font-size: 12px;
  //line-height: 1.5rem;
  color: $dark-color-opacity50;
}


.imgs{
  background:  url("../images/hero-ill-connect.png") no-repeat bottom center;
  background-size: contain;
  height: 400px;
  background-position-y: 5px;
}

.button.is-large-call2action {
  font-size: 15px;
  height: 55px;
  padding: 14px 60px;
}

.padding-btns-footer-hero{
  padding: 30px 40px;
}


.hero-content-pb{
  padding: 0 0 30px!important;
  background-color: #F8F8F8;
}

.border-left-only{
  border-left:rgba(8, 8, 8, 0.08) solid 1px
}

.title-btns{
  font-size: 12px;
}

.is-uppercase{
  text-transform: uppercase;
}

.shadow-box{
  box-shadow: 0 2px 4px rgba(201,201,201,.5);
}

.hero-content-seal{
  padding: 90px 0!important;
}
.hero-content-contact{
  @extend .hero-content-seal;
  width: 700px;
  margin: 0 auto;
}
.seal-box{
  min-width: 200px;
  background-color: #fff;
  padding: 33px!important;
  margin: 2px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.seal-box:hover{
  box-shadow: 0 2px 4px rgba(201,201,201,.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  .cm1{
    background: url(../images/seals/delivery-w.png) no-repeat;
  }
  .cm2{
    background: url(../images/seals/app-w.png) no-repeat;
  }
  .cm3{
    background: url(../images/seals/frete-w.png) no-repeat;
  }
  .cm4{
    background: url(../images/seals/taxi-w.png) no-repeat;
  }
  .cm5{
    background: url(../images/seals/site-w.png) no-repeat;
  }
  .cm6{
    background: url(../images/seals/earth-w.png) no-repeat;
  }
}

.cm{
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
}
.cm1{
  @extend .cm;
  background: url(../images/seals/delivery-b.png) no-repeat;
}
.cm2{
  @extend .cm;
  background: url(../images/seals/app-b.png) no-repeat;
}
.cm3{
  @extend .cm;
  background: url(../images/seals/frete-b.png) no-repeat;
}
.cm4{
  @extend .cm;
  background: url(../images/seals/taxi-b.png) no-repeat;
}
.cm5{
  @extend .cm;
  background: url(../images/seals/site-b.png) no-repeat;
}
.cm6{
  @extend .cm;
  background: url(../images/seals/earth-b.png) no-repeat;
}




.c1:hover {
  background-color: #00a185;
  color: #fff;
}
.c1:hover span {
  color: #fff;
}
.c1:hover h1 {
  color: #fff;
}
.c2:hover {
  background-color: #e9c93f;
  color: #fff;
}
.c2:hover span {
  color: #fff;
}
.c2:hover h1 {
  color: #fff;
}
.c3:hover {
  background-color: #e0602f;
}
.c3:hover span {
  color: #fff;
}
.c3:hover h1 {
  color: #fff;
}
.c4:hover {
  background-color: #0187d0;
}
.c4:hover span {
  color: #fff;
}
.c4:hover h1 {
  color: #fff;
}
.c5:hover {
  background-color: #b24a7d;
}
.c5:hover span {
  color: #fff;
}
.c5:hover h1 {
  color: #fff;
}
.c6:hover {
  background-color: #8b87ff;
}
.c6:hover span {
  color: #fff;
}
.c6:hover h1 {
  color: #fff;
}
.c7:hover {
  background-color: #32cdc7;
}
.c7:hover span {
  color: #fff;
}
.c7:hover h1 {
  color: #fff;
}
.c8:hover {
  background-color: #374f76;
}
.c8:hover span {
  color: #fff;
}
.c8:hover h1 {
  color: #fff;
}

.hero .background-circle {
  width: 60%;
  padding-bottom: 60%;
  position: absolute;
  left: 25%;
  top: -47px;
  -webkit-transform: translateY(-38%);
  transform: translateY(-38%);
  z-index: 0;
}

.hero .background-circle-inner {
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background: yellow;
  height: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.text-white{
  color: #fff!important;
}

.footer{
  padding: 30px 20px 40px;
}

.hero-header{
  //transition: all 450ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  //transform: translateY(0%) rotateX(0deg);

}
.hero-header.fixed{
  position: fixed;
  background: rgba(255, 255, 255, 0.99);
  z-index: 999;
  width: 100%;
  box-shadow: 0 0 1px rgba(0,0,0,0.15);
  //top: 10%;
  //transition: transform 0.5s;
  //transform: rotateX(0deg) translateY(-100%);
  transition: all 0.4s ease;
  //transform: scale(0.8) translate3d(0, -10%, 0);
  //transition: all 450ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
.hero-content90px{
  padding-top: 90px!important;
}



.input, .textarea{
  border: .5px solid #d3d6db;
  border-radius: 2px;
  font-size: 14px;
  height: 50px;
}


.input[type="email"]{
  height: 40px; 
}






.customer-wrap {
    display: block;
    width: 80%;
    max-width: 800px;
    // margin-top: 12px;
    margin-right: auto;
    margin-left: auto;
    padding: 50px 0 30px;
    color: #888;
    font-size: 17px;
}
.customer-text {
    font-size: 20px;
    font-weight: 400;
}

.customers {
    margin-top: 30px;
}

.company-list {
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.company-list, .pricing-tier-header {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}
.w-clearfix:after, .w-clearfix:before {
    content: " ";
    display: table;
}

.customer-item {
    padding-right: 0;
    padding-left: 0;
}
.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.customer-logo {
    display: inline-block;
    height: 26px;
    margin-right: auto;
    margin-left: auto;
    opacity: 1;
    text-align: left;
}

.w-richtext figure.w-richtext-align-center[data-rt-type=image]>div, img {
    max-width: 100%;
}













