// Colors

$grey-darker: #222324;
$grey-dark: #69707a;
$grey: #aeb1b5;
$grey-light: #d3d6db;
$grey-lighter: #f5f7fa;

$white: #fff;
$blue: #42afe3;
$green: #97cd76;
$orange: #f68b39;
$purple: #847bb9;
$red: #ed6c63;
$turquoise: #1fc8db;
$yellow: #fce473;
$novo:#000;
$primary: $turquoise;

// Typography

$family-sans-serif: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace: "Source Code Pro", "Monaco", "Inconsolata", monospace;

$size-1: 48px;
$size-2: 40px;
$size-3: 28px;
$size-4: 24px;
$size-5: 18px;
$size-6: 14px;

$size-7: 11px;

$weight-title-normal: 300;
$weight-title-bold: 500;

// Breakpoints

$tablet: 769px;
$desktop: 980px;
$widescreen: 1180px;

// Dimensions

$column-gap: 20px;

$header-height: 50px;

// Miscellaneous

$easing: ease-out;
$radius: 3px;
$speed: 86ms;
