.title,
.subtitle {
  @extend .block;

  font-weight: $weight-title-normal;

  em,
  span {
    font-weight: $weight-title-normal;
  }

  strong {
    font-weight: $weight-title-bold;
  }

  a {
    &:hover {
      border-bottom: 1px solid;
    }
  }

  .tag {
    vertical-align: bottom;
  }
}

.title {
  color: $text-strong;
  font-size: $size-large;
  line-height: 1;

  strong {
    color: inherit;
  }

  code {
    display: inline-block;
    font-size: $size-large;
  }

  & + .subtitle {
    margin-top: -10px;
  }

  & + .highlight {
    margin-top: -10px;
  }

  &.is-normal {
    font-weight: 400;

    strong {
      font-weight: 700;
    }
  }

  @each $size in $sizes {
    $i: index($sizes, $size);

    &.is-#{$i} {
      font-size: $size;

      code {
        font-size: nth($sizes, min($i + 1, 6));
      }
    }
  }

  @include tablet {
    & + .subtitle {
      margin-top: -15px;
    }
  }
}

.subtitle {
  font-size: $size-medium;
  line-height: 1.125;

  & + .title {
    margin-top: -20px;
  }

  strong {
    color: $text-strong;
  }

  code {
    border-radius: $radius;
    display: inline-block;
    font-size: $size-normal;
    padding: 2px 3px;
    vertical-align: top;
  }

  & + .text {
    margin-top: 20px;
  }

  &.is-normal {
    font-weight: 400;

    strong {
      font-weight: 700;
    }
  }

  @each $size in $sizes {
    $i: index($sizes, $size);

    &.is-#{$i} {
      font-size: $size;

      code {
        font-size: nth($sizes, min($i + 1, 6));
      }
    }
  }
}
