<!--Hero page-->
<section class="hero is-white is-fullheight" id="main">
  <!-- Hero header: will stick at the top -->
  <div class="hero-header" ng-class="{'fixed': fixedHeader ==true} ">
    <header class="header">
      <div class="container">
        <div class="header-left">
          <a class="header-item" ui-sref="main">
            <img src="images/logo_cb-black.png" alt="Logo">
          </a>
        </div>
        <span class="header-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="header-right header-menu" >
          <span class="header-item" scroll-to="main" >
            <a class="is-active" href="">Home</a>
          </span>
          <span class="header-item " scroll-to="beneficios">
            <a translate="BENEFICIOS" >Benefícios</a>
          </span>
          <span class="header-item " scroll-to="selo" >
            <a translate="SELO">Selo sustentável</a>
          </span>
          <span class="header-item " scroll-to="certificado">
            <a  translate="CERTIFICADO">Certificado sustentável</a>
          </span>
          <span class="header-item " scroll-to="contato">
            <a  translate="CONTATO">Contato</a>
          </span>

          <span class="header-item ">
            <a class="" ng-click="changeLanguage('pt-br')" style="padding-right: 10px">
              <img src="images/lang/br.svg" height="12px">
            </a>
            <a class="" ng-click="changeLanguage('en-us')" style="padding-right: 10px">
              <img src="images/lang/us.svg" height="12px">
            </a>
            <a class="" ng-click="changeLanguage('es')">
              <img src="images/lang/es.svg" height="12px">
            </a>
          </span>

        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-content" ng-class="{'hero-content90px': fixedHeader ==true} ">
    <div class="container">

      <div class="columns is-vcentered">
        <div class="column is-text-left is-7">
          <h1 class="title title-hero is-bold is-uppercase" translate="HERO_TITULO">
            SELO DIGITAL PARA EMPRESAS <span class="is-bold "> </span>
          </h1>
          <h6 class="subtitle subtitle-hero is-bold is-uppercase" translate="HERO_SUBTITULO">
            CERTIFICADO E SELO DIGITAL PARA EMPRESAS QUE SE PREOCUPAM COM O FUTURO DO NOSSO PLANETA.
            ADOTE ESSA IDEIA E ATRAIA CONSUMIDORES FIEIS.
          </h6>

          <a class="button is-large is-large-call2action is-success is-bold is-uppercase shadow-box is-new-green-background"
             ng-click="trialBtn(true)"
             translate="HERO_BUTTON_CALL">
             EXPERIMENTE POR 30 DIAS</a>
        </div>

        <div class="column imgs">
        </div>
      </div>
    </div>
  </div>

</section>



<!--Footer hero-->
<section class="hero is-medium" id="">
  <div class="hero-content hero-content-pb">
    <div class="container ">

      <div class="columns hero-footer-item medium-grey is-text-centered">

        <div class="column ">

          <div class="container">

            <div class="columns padding-btns-footer-hero">
              <div class="column is-3">
                <img src="images/icon-warm.png" width="32px" height="34px">
              </div>
              <div class="column is-10 title-btns is-text-left	is-uppercase">
                <strong translate="FOOTER_BUTTON_1">O AQUECIMENTO GLOBAL ESTA MATANDO NOSSO PLANETA.</strong>
                <br>
                <!--<a href="" translate="SAIBA_MAIS">SAIBA MAIS</a>-->
              </div>
            </div>


          </div>

        </div>
        <div class="column ">

          <div class="container">

            <div class="columns padding-btns-footer-hero">
              <div class="column is-3 border-left-only">
                <img src="images/icon-recicly.png" width="32px" height="34px">
              </div>
              <div class="column is-10 title-btns is-text-left	is-uppercase">
                <strong translate="FOOTER_BUTTON_2">AJUDE PROJETOS SOCIAIS QUE GERAM IMPACTO NA SOCIEDADE.</strong>
                <br>
                <!--<a href="" translate="SAIBA_MAIS">SAIBA MAIS</a>-->
              </div>
            </div>

          </div>

        </div>
        <div class="column ">

          <div class="container">

            <div class="columns padding-btns-footer-hero">
              <div class="column is-3 border-left-only">
                <img src="images/icon-industry.png" width="32px" height="34px">
              </div>
              <div class="column is-10 title-btns is-text-left	is-uppercase">
                <strong translate="FOOTER_BUTTON_3">EMPRESAS QUE PARTICIPAM GANHAM MAIS CREDIBILIDADE.</strong>
                <br>
                <!--<a href="" translate="SAIBA_MAIS">SAIBA MAIS</a>-->
              </div>
            </div>

          </div>

        </div>

      </div>



    </div>
  </div>
</section>




<!-- Middle page -->
<section class="hero is-transparent is-large is-desktop" id="beneficios">

  <div class="hero-content-internal ">
    <div class="container">
      <section class="hero is-white is-medium ">
        <div class="hero-content box-internal" style="padding: 120px">
          <div class="container">
            <span>
              <img src="images/hands-leaf.png" class="pB30">
            </span>
            <h1 class="title font-size50 is-bold is-uppercase" translate="TEASER_MIDDLE_TITULO">
              Comunidade sustentável
            </h1>
            <h6 class="subtitle subtitle-middle is-uppercase" translate="TEASER_MIDDLE_SUBTITULO">
              Faça parte de uma comunidade empresarial que se preocupa
              com nosso futuro. Conecte-se com seus consumidores através de uma causa nobre.
            </h6>
          </div>

        </div>

      </section>

      <div class="container pT20">

        <div class="columns">

          <div class="column">

            <div class=" is-white sH180 ">
              <div class="columns padding-btns-footer-hero">
                <div class="column is-3">
                  <img src="images/icon-gear.png" width="32px" height="34px">
                </div>
                <div class="column is-9 title-btns is-text-left	is-uppercase">
                  <p translate="FOOTER_MIDDLE_BUTTON_1">EMPRESAS QUE SE PREOCUPAM COM O MEIO AMBIENTE</p>
                  <br>
                  <a href="" translate="SAIBA_MAIS" ng-click="trialBtn(true)">SAIBA MAIS</a>
                </div>
              </div>
            </div>

          </div>

          <div class="column">

            <div class=" is-white sH180 ">
              <div class="columns padding-btns-footer-hero">
                <div class="column is-3">
                  <img src="images/icon-computer.png" width="41px" height="34px">
                </div>
                <div class="column is-9 title-btns is-text-left	is-uppercase">
                  <p translate="FOOTER_MIDDLE_BUTTON_2">CONECTAMOS SEU NEGÓCIO DIGITAL COM PROJETOS SUSTENTÁVEIS.</p>
                  <br>
                  <a href="" translate="SAIBA_MAIS" ng-click="trialBtn(true)">SAIBA MAIS</a>
                </div>
              </div>
            </div>

          </div>

          <div class="column">

            <div class=" is-white sH180 ">
              <div class="columns padding-btns-footer-hero">
                <div class="column is-3">
                  <img src="images/icon-florest.png" width="41px" height="34px">
                </div>
                <div class="column is-9 title-btns is-text-left	is-uppercase">
                  <p translate="FOOTER_MIDDLE_BUTTON_3">SELO SUSTENTÁVEL PARA VOCE E CERTIFICADO PARA SEU CONSUMIDOR.</p>
                  <br>
                  <a href="" translate="SAIBA_MAIS" ng-click="trialBtn(true)">SAIBA MAIS</a>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>


    </div>
  </div>
</section>


<!-- SEAL -->
<section class="hero is-dark2 is-medium " id="selo">
  <div class="hero-content hero-content-seal">
    <div class="container">
      <h1 class="title is-uppercase is-bold" translate="SELO"> Selo Sustentável</h1>

      <h2 class="subtitle subtitle-middle is-uppercase" translate="SELO_TEXT">
        Selo sustentável dá ao seu website, app ou plataforma integrada a garantia
        que você neutraliza emissões no meio ambiente.
      </h2>

      <div class="columns">
        <!--<div class="column is-3 is-white" style="width: 200px;height: 400px;margin: 0px;">-->
          <!--<p style="padding-top: 20px;font-size:18px">-->
            <!--<h1 class=""> We tried to do a seal the you like </h1>-->
          <!--</p>-->
        <!--</div>-->

        <div class="column is-9 container">

            <div class="columns is-multiline">
              <div class="column c1 seal-box is-white">
                  <!--<img src="images/test/logo-ecodelivery.png" width="" height="34px">-->
                  <div style="height: 34px;" class="cm1"></div>
                  <p translate="ECO_DELIVERY_TEXT">EMPRESAS QUE SE PREOCUPAM COM O MEIO AMBIENTE</p>
                  <br>
                  <a href="" translate="SAIBA_MAIS" ng-click="trialBtn(true)">SAIBA MAIS</a>
              </div>

              <div class="column c2 seal-box is-white">
                  <!--<img src="images/test/logo-app.png" width="" height="34px">-->
                <div style="height: 34px;" class="cm2"></div>
                  <p translate="ECO_APP_TEXT">EMPRESAS QUE SE PREOCUPAM COM O MEIO AMBIENTE</p>
                  <br>
                  <a href="" translate="SAIBA_MAIS" ng-click="trialBtn(true)">SAIBA MAIS</a>
              </div>

              <div class="column c3 seal-box is-white">
                <!--<img src="images/test/seal-ecofrete.png" width="" height="34px">-->
                <div style="height: 34px;" class="cm3"></div>
                <p translate="ECO_FRETE_TEXT">EMPRESAS QUE SE PREOCUPAM COM O MEIO AMBIENTE</p>
                <br>
                <a href="" translate="SAIBA_MAIS" ng-click="trialBtn(true)">SAIBA MAIS</a>
              </div>

              <div class="column c4 seal-box is-white">
                <!--<img src="images/test/logo-ecotaxi.png" width="" height="34px">-->
                <div style="height: 34px;" class="cm4"></div>
                <p translate="ECO_TAXI_TEXT">EMPRESAS QUE SE PREOCUPAM COM O MEIO AMBIENTE</p>
                <br>
                <a href="" translate="SAIBA_MAIS" ng-click="trialBtn(true)">SAIBA MAIS</a>
              </div>

              <div class="column c5 seal-box is-white">
                <!--<img src="images/test/logo-ecosite.png" width="" height="34px">-->
                <div style="height: 34px;" class="cm5"></div>
                <p translate="ECO_SITE_TEXT">EMPRESAS QUE SE PREOCUPAM COM O MEIO AMBIENTE</p>
                <br>
                <a href="" translate="SAIBA_MAIS" ng-click="trialBtn(true)">SAIBA MAIS</a>
              </div>

              <div class="column c6 seal-box is-white">
                <!--<img src="images/test/logo-ecoearth.png" width="" height="34px">-->
                <div style="height: 34px;" class="cm6"></div>
                <p translate="ECO_EARTH_TEXT">EMPRESAS QUE SE PREOCUPAM COM O MEIO AMBIENTE</p>
                <br>
                <a href="" translate="SAIBA_MAIS" ng-click="trialBtn(true)">SAIBA MAIS</a>
              </div>




            </div>
          <a class="button is-large is-large-call2action is-success is-bold is-uppercase shadow-box is-new-green-background"
             ng-click="trialBtn(true)"
             translate="HERO_BUTTON_CALL">
            EXPERIMENTE POR 30 DIAS</a>
        </div>

      </div>

    </div>
  </div>
</section>

<!--Clear-->
<section class="hero is-white is-large " id="certificado">
  <div class="hero-content">
    <div class="container">
      <h1 class="title" translate="CERTIFICADO_TITLE_TEXT"> </h1>
      <h2 class="subtitle" translate="CERTIFICADO_TEXT">

      </h2>
      <img src="../images/certificate-icon.png" height="300px"><br>
      <a class="button is-large is-large-call2action is-success is-bold is-uppercase shadow-box is-new-green-background"
         ng-click="trialBtn(true)"
         translate="HERO_BUTTON_CALL">
        EXPERIMENTE POR 30 DIAS</a>
    </div>
  </div>
</section>


<section class="hero is-black is-bold is-medium">
 

 <div class="customer-wrap">
 <div class="customer-text">Used by the world's most creative companies</div>
   <div class="w-dyn-list customers">
     
     <div class="w-dyn-items w-clearfix company-list">
       <div class="w-dyn-item customer-item">
         <a class="w-inline-block" href="http://teslamotors.com/">
          <img class="customer-logo" src="https://daks2k3a4ib2z.cloudfront.net/5665fcd24642b03858a3fa0a/5748e2ac0d254d79455c663b_tesla-9.svg">
         </a>
       </div>

       <div class="w-dyn-item customer-item">
         <a class="w-inline-block" href="http://teslamotors.com/">
          <img class="customer-logo" src="https://daks2k3a4ib2z.cloudfront.net/5665fcd24642b03858a3fa0a/5748e2ac0d254d79455c663b_tesla-9.svg">
         </a>
       </div>

       <div class="w-dyn-item customer-item">
         <a class="w-inline-block" href="http://teslamotors.com/">
          <img class="customer-logo" src="https://daks2k3a4ib2z.cloudfront.net/5665fcd24642b03858a3fa0a/5748e2ac0d254d79455c663b_tesla-9.svg">
         </a>
       </div>

       <div class="w-dyn-item customer-item">
         <a class="w-inline-block" href="http://teslamotors.com/">
          <img class="customer-logo" src="https://daks2k3a4ib2z.cloudfront.net/5665fcd24642b03858a3fa0a/5748e2ac0d254d79455c663b_tesla-9.svg">
         </a>
       </div>

       <div class="w-dyn-item customer-item">
         <a class="w-inline-block" href="http://teslamotors.com/">
          <img class="customer-logo" src="https://daks2k3a4ib2z.cloudfront.net/5665fcd24642b03858a3fa0a/5748e2ac0d254d79455c663b_tesla-9.svg">
         </a>
       </div>
     </div>

   </div>
 </div>


        
</section>


<!--Contato-->
<section class="hero is-transparent is-bold is-medium is-hidden-mobile" id="contato">
  <div class="hero-content  hero-content-contact">
    <div class="container">
      <h1 class="title is-uppercase is-bold" translate="CONTATO_TITULO"> Contato </h1>
      <p class="control">
        <label class="label" translate="CONTATO_NOME">Nome</label>
        <input class="input" type="text" placeholder="John Smith" ng-model="fname">
      </p>
      <p class="control">
        <label class="label" translate="CONTATO_EMAIL">Email</label>
        <input class="input" type="text" placeholder="contact@provider.com" ng-model="email">
      </p>
      <p class="control">
        <label class="label" translate="CONTATO_WEBSITE">Website</label>
        <input class="input" type="text" placeholder="http://" ng-model="website">
      </p>

      <p class="control">
        <label class="label" translate="CONTATO_MSG"  >Message</label>
        <textarea class="textarea" placeholder="Mensagem" ng-model="message"></textarea>
      </p>
      <p class="control">
        <button class="button is-success is-medium" translate="CONTATO_ENVIAR" ng-click="sendContact()">Submit</button>
        <!-- <button class="button" translate="CONTATO_CANCELAR" ng-click="trialBtn(false)">Cancel</button> -->
      </p>

    </div>
  </div>
</section>



<!--Newssletter-->
<section id="newsletter" class="hero is-success is-bold">
  <div class="hero-content">
    <div class="container">
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup" class="columns is-vcentered">
        <div class="column is-third is-left">
          <p class="title">Ecodigital <strong>Newsletter</strong></p>
          <p class="subtitle" translate="NEWSLETTER">Receba notícias da nossa plataforma!</p>
        </div>

        <div class="column">
            <div id="mc_embed_signup_scroll">
              <div class="control has-icon is-horizontal">
                <input type="email" class="input is-flat required email" ng-model="emailnews">
                <i class="fa fa-envelope"></i>
                <button
                  ng-click="subscribeBtn()"
                  translate="INSCREVER" class="button is-primary is-medium is-outlined is-inverted"></button>
              </div>
            </div>
        </div>
      </div>
      <!--End mc_embed_signup-->
    </div>
  </div>
</section>

<!--Footer-->
<footer class="footer is-dark2 is-bold text-white">
  <div class="container">
    <div class="content is-centered">
      <p>Copyright 2014 - 2016 </p>
      <p>
        <strong> <a href="http://ecodigital.co">Ecodigital</a></strong> made with love in SP
      </p>
    </div>
  </div>
</footer>


<!--Modal-->
<div class="modal" ng-class="{'is-active': showModal == true} ">
  <div class="modal-background"></div>
  <div class="modal-container">
    <div class="modal-content">
      <div class="box">
        <div class="content">
          <h1>Contato</h1>

          <p class="control">
            <label class="label" translate="CONTATO_NOME">Nome</label>
            <input class="input" type="text" placeholder="John Smith" ng-model="fname">
          </p>
          <p class="control">
            <label class="label" translate="CONTATO_EMAIL">Email</label>
            <input class="input" type="text" placeholder="contact@provider.com" ng-model="email">
          </p>
          <p class="control">
            <label class="label" translate="CONTATO_WEBSITE">Website</label>
            <input class="input" type="text" placeholder="http://" ng-model="website">
          </p>

          <p class="control">
            <label class="label" translate="CONTATO_MSG" ng-model="message" >Message</label>
            <textarea class="textarea" placeholder="Mensagem"></textarea>
          </p>
          <p class="control">
            <button class="button is-success is-medium" translate="CONTATO_ENVIAR" ng-click="sendContact()">Submit</button>
            <button class="button is-medium is-danger" translate="CONTATO_CANCELAR" ng-click="trialBtn(false)">Cancel</button>
          </p>


        </div>
      </div>
    </div>
  </div>
  <button class="modal-close" ng-click="trialBtn(false)"></button>
</div>

